[Desktop Entry]
Name=Discord Updater
StartupWMClass=discord
Comment=Update Discord before running it
Exec=sh -c "/home/$USER/.dotfiles/discord-updater/update.sh"
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
