'$schema' = 'https://starship.rs/config-schema.json'
add_newline = true

format = """
[╭](dark)\
$username\
$hostname\
[╶](dark)\
[◢](dark)\
$directory\
[](dark)\
[(╴$git_branch $git_status╶)](dark)\
[╴](dark)\
$time\
\n[╰─](dark)\
$character
"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
white = '#ebdbb2'
gray = '#a89984'
black = '#282828'
dark = '#504945'
blue = '#458588'
cyan = '#689d6a'
green = '#98971a'
orange = '#d65d0e'
purple = '#b16286'
red = '#cc241d'
yellow = '#d79921'

[username]
show_always = true
style_user = 'cyan'
style_root = 'red'
format = '[$user]($style)'

[hostname]
ssh_only = true
style = 'gray'
format = '[@](dark)[$hostname]($style)'

[directory]
style = 'bg:dark fg:white'
format = '[ $path ]($style)'
truncate_to_repo = true
truncation_length = 5
truncation_symbol = '…/'

[directory.substitutions]
'Documents' = '󰈙'
'Downloads' = ' '
'Pictures' = '󰋩 '
'.dotfiles' = ' '

[git_branch]
symbol = ' '
style = 'purple'
format = '[$symbol$branch]($style)'

[git_status]
style = 'purple'
format = '[$all_status$ahead_behind]($style)'

[time]
disabled = false
style = 'gray'
format = '[$time]($style)'
time_format = '%I:%M:%S'
utc_time_offset = '-8'

[character]
success_symbol = '[](green)'
error_symbol   = '[](red)'
vimcmd_symbol  = '[](purple)'
